.Itinerary {
  background: url(../../images/compBg/background-6b.jpg);
  background-size: cover;
  // background-repeat: repeat-x repeat-y;
  height: 100vh;

  p {
    letter-spacing: 2px;
    color: white;
    font-weight: 700;
    margin-bottom: 2px;
    text-align: left;
  }

 
}
.itinerary-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header"
    "dest weather"
    "dest clothes"; 
}

.itinerary-header {
  grid-area: header;
}

.itinerary-destination-list {
  grid-area: dest;
}

.weather-info {
  grid-area: weather;
}

.clothes-to-pack-list {
  grid-area: clothes;
}

.itinerary-card {
  background-color: #8071a298;
  border: 1px solid rgb(184, 156, 233);
  border-radius: 20px;
  margin: 20px;
  padding: 15px 50px;
}