div.Add-Destination-Form {
  grid-area: form;
  padding: 15px 50px;
  width: 50%;
  height: 70%;
  text-align: center;
  justify-self: end;

  select,
  input {
    padding: 5px;
    margin: 10px;
  }

  button {
    padding: 6px 22px;
    margin-top: 30px;
  }

  .button-80:not(:disabled):hover {
    border: 1px solid #007bffe6;
    color: #007bffe6;
  }

  label {
    text-align: left;
    letter-spacing: 2px;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  select,
  input[type='date'] {
    text-align: center;
    letter-spacing: 3px;
    border-radius: 5px;
    border: 1px solid rgb(210, 157, 157);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    font-weight: 600;
    width: 100%;
    height: 40px;
    font-size: 0.9rem;
  }

  select:focus,
  input[type='date']:focus {
    border-style: solid;
    outline-color: rgb(254, 233, 117);
    border-width: 3px;
  }

  p {
    letter-spacing: 2px;
    color: white;
    font-weight: 700;
    margin-bottom: 2px;
    text-align: left;
  }
}

form.Add-Destination-Form {
  border-radius: 15px;
}

.SeasonFilter {
  margin-top: 15px;

  .summer {
    display: inline-block;
  }

  div.winter {
    display: inline-block;
    margin-left: 60px;
  }
}

/***** TOGGLE SWITCH ******/
/* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 16px;
}

/* Hide default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 61%;
  width: 40%;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .winter {
  background-color: #2196f3;
}

input:focus + .winter {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .summer {
  background-color: #f38321;
}

input:focus + .summer {
  box-shadow: 0 0 1px #f38321;
}

input:checked + .slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
