label {
  display: block;
}

#SignUp-Modal,
#Login-Modal {
  padding: 0;
  height: 375px;

  input {
    display: inline-block;
    margin: 3px;
  }

  form {
    margin-top: 25px;
  }

  label {
    letter-spacing: 0.8px;
  }

  button {
    margin-top: 15px;
  }

  ul {
    padding: 0;
    border: 1px solid rgb(255, 170, 59);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .sign-up {
      border-right: 1px solid rgb(255, 170, 59);
      background-color: rgb(255, 140, 0);
      color: rgb(255, 240, 222);
      font-weight: 700;
    }
  }

  li {
    display: inline-block;
    text-align: center;
    width: 50%;
    height: 100%;
    padding: 20px 0;
    color: rgb(255, 170, 59);
  }
}

#Login-Modal {
  height: 300px;
}
