svg {
  display: inline-block;
  vertical-align: middle;
  background-color: #c4ecf7;
}

path {
  fill: white;
  stroke: rgb(162, 171, 187);
  stroke-width: 0.4px;
}

.Map {
  font-family: sans-serif;
  text-align: center;
}

.marker-circle {
  fill: rgb(255, 44, 121);
  stroke: #fff;
  stroke-width: 1px;
}

.marker-text {
  fill: rgb(4, 4, 140);
  font-size: 0.6rem;
}
